@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/NotoSerif-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/NotoSerif-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Vollkorn-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Vollkorn-Bold.ttf") format("truetype"); }
